/* import fonts */
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Light.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

*, 
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td.calendar-day:hover,
td.calendar-day-np:hover {
	background: #d5f3fd;
	border: 1px solid #0f8fbf;
	color: #0f8fbf;
}

td.calendar-day, 
td.calendar-day-np { 
	position: relative;
	width: 68px; 
	height: 53px; 
	padding: 39px;
	border: 1px inset #999;
	border-spacing: 0;
}

td.calendar-day {
	color: #999;
}

td.calendar-day-np {
	color: #ddd;
}

.calendar {
	width: 555px;
	margin: 0 auto;
	overflow: hidden;
}

.calendar-head {
	position: relative;
	margin: 0 auto;
	width: 100%; 
	padding: 5px; 
	font-family: 'Gotham';
	background-color: #0f8fbf; 
	text-align: center; 
}

.calendar-head.week td {
	background: #fff;
	color: #999;
}

tr.calendar-head.week {
	border: 1px solid #999;
}

.month {
	font-size: 75px;
	background-color: #0f8fbf;
	color: #fff;
}

.change-month {
	display: block;
	position: absolute;
	top: 5px;
    text-indent: -9999px;
    background-size: 60px 80px;
    background-repeat: no-repeat;
    background-color: #4eb2d7;
    width: 65px;
    height: 80px;
    color: #fff;
    border: none;
    z-index: 9;
    opacity: 0.7;
    cursor: pointer;
}

#prev {
	background-image: url('../svg/arrow-l.svg');
	left: 5px;
}

#next {
	background-image: url('../svg/arrow-r.svg');
	right: 5px;
}

td span {
	position: absolute;
	top: 5px;
	left: 10px;
	font-family: 'Calibri';
	font-size: 15px;
}

td.calendar-row:hover {
	color: #0f8fbf;
}

.slick-slider {
	height: 95px;
	width: 100%;
}

.slick-slide {
	opacity: 0.25;
	transition: opacity 0.3s;
}

.slick-active {
	opacity: 1;
}

.each-month {
	float: left;	
	margin: 0 20px;
	outline: none;
	/*width: 930px;*/
	/*height: 100px;*/
}